@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap');

* {
  font-family: 'Ubuntu', sans-serif;
}

body {
  background-color: #eee;
  color: #fff;
}

#drop-area {
  border: 2px dashed #aaa;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  border-radius: 8px;
  min-height: 2in;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}

.drop-text {
  font-size: 18px;
  color: #000000;
}

#dropped-content {
  width: calc(100% - 23px);
  height: 200px;
  min-height: 69px;
  max-height: 312px;
  margin-top: 20px;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #eee;
  resize: vertical;
  background-color: #eee;
  color: #fff;
  outline: none;
  border-radius: 8px;
}

#dropped-content::-webkit-scrollbar {
  width: 8px;
}

#dropped-content::-webkit-scrollbar-track {
  background-color: #eee;
}

#dropped-content::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

#dropped-content::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

.drop-icon i {
  color: #888;
  font-size: 4.5rem;
}

#chars {
  color: #888;
  float: right;
}

#spellcheck {
  display: flex;
  align-items: center;
  gap: 5px;
}

#outer-dot {
  background-color: #007bff;
  width: 3rem;
  height: 1.5rem;
  border-radius: 100px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background 200ms;
}

#dot {
  background-color: #eee;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin: 0 5px;
  transform: translateX(22px);
  transition: transform 200ms;
}